// ======================================
//  Variables
// ======================================

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;

// Font Colors
$color-text-primary: rgb(83, 83, 83);
$color-text-white: #fff;
//Colors
$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-trim: rgb(255, 204, 64);

$color-icon-unvisited: rgba(255, 255, 255, 0.5);
$color-icon-selected: #fff;

// Breakpoints
$break-med: 768px;

// Max-width
