#alert {
    display: flex;
    justify-content: center;
    color: $color-text-white;
    border-right: 1px solid $color-border; 
    .alert-banner {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        height: 10%;
        width: 90%;
        padding: 0 1em;
        background-color: $color-primary;
        border-radius: 10px;
        max-height: 999px;
        &-close {
            cursor: pointer; 
        }
        p {
            color: $color-text-white;
            font-size: .9em;
            strong {
                color: $color-text-white;
            }
        }
    }
    
}
.header-right {
    position: relative;
}
// Unread alerts
.unread {
    &-container {
        position: absolute;
        width: 250px;
        max-height: 10%;
        z-index: 100;
        top: 58px;
        right: 20px;
        border-radius: 10px;
        transition: opacity .5s ease-in;
        
    } 
    &-message,
    &-message-hidden {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        background-color: rgba(248, 246, 246, 0.973);
        border-bottom: 1px solid $color-border;
        font-size: .8em;
        padding: 0 1em; 
        &-close {
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
        }
        &-hidden {
            opacity: 0;
            max-height: 0;
            animation: fadeout 1s ;
            border-bottom: none;
         }
     }  
}

.circle {
    width: 15px;
    height: 15px;
    border: solid 1px $color-alert-green-dark;
    border-radius: 80%;
    background-color: $color-alert-green;
}

// Hidden class
.hidden {  
    opacity: 0;
    max-height: 0;
    animation: fadeout 1s ;
  }

// Fade out animation
@keyframes fadeout {
    from {
       max-height: 999px;

    opacity: 1;}
    to {
	display:none;
    max-height: 0;
    opacity:0;}
} 

