.traffic,
.daily,
.pie {
    border-bottom: 1px solid $color-border;
    width: 100%;
    .title {
        margin-left: 2em;
        font-weight: 500;
        font-size: 1.2em;
    }
    .chart-full,
    .chart-half {
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }
    @include media('med') {
        .chart-full {
            width: 80vw;
        }
        .chart-half {
            width: 45vw;
        }
    }
    @include media('sup') {
        .chart-full {
            width: 70vw;
        }
    }
}

.traffic {
    // padding-left: 1em;
    &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        .header-title {
            margin-left: 0;
            font-weight: 500;
            font-size: 1.2em;
        }
    }
    .toggle {
        width: 300px;
        height: 30px;
        font-size: .8em;
        margin-right: 2em;
        
    }
    .switch-ios.switch-toggle a {
        background-color: #81c98f;
        border: 0.125em solid rgba(216, 217, 219, 0);
    }
    .switch-ios.switch-toggle {
        background-color: rgba(255, 0, 0, 0);
        box-shadow: none;
    }
    .switch-ios input:checked + label {
        color: #fff;
        font-size: 1em;
    }
    @include media('med') {
        padding-left: 1em;
        .header-title {
            margin-left: 2em;
        }
        &-header {
            flex-direction: row;
            margin-bottom: 0;
        }
        .toggle {
            width: 400px;
        }
    }
}