// ======================================
//  Header Partial
// ======================================

.header {
    background-color: $color-primary;   
    
    h2 {
        font-size: 1.3em;
        margin-left: .5em;
        font-weight: 200;
        color: $color-text-white;
        b {
            color: $color-text-white;
            font-weight: 800;
        }
    }
    a {
        color: $color-text-white;
        font-size: .9em;
  
    }
    .user {
        margin-left: .5em;
        margin-right: .5em;
        font-size: .8em;
    }
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-line {
        border-left: 2px solid rgba(97, 97, 97, 0.295); 
        height: 50px; 
        margin-left: .5em;
        margin-right: .5em;
      
    }
}

.bell {
    cursor: pointer; 
    transition: transform .1s ease-in; 
    &-left {
        color: rgb(66, 226, 135);
        &-bottom {
            color: rgb(50, 182, 107);
        }
    }
    &-right {
        color: rgb(73, 255, 152);
        &-bottom {
            color: rgb(66, 226, 135);
        }
    }
    &-middle {
        color: rgb(50, 182, 107);
    }
}

.bellWhite {
    cursor: pointer; 
    transition: transform .1s ease-in;  
    &-left {
        color: #f3f3f3;
        &-bottom {
            color: #c5c5c5;
        }
    }
    &-right {
        color: #ffffff;
        &-bottom {
            color: #f3f3f3;
        }
    }
    &-middle {
        color: #c5c5c5;
    }
}

.bell:hover,
.bellWhite:hover {
    transform: scale(1.3);
}