// ======================================
//  Header Partial
// ======================================

.header {
    background-color: $color-primary;   
    
    h2 {
        font-size: 1.3em;
        margin-left: .5em;
        font-weight: 200;
        color: $color-text-white;
        b {
            color: $color-text-white;
            font-weight: 800;
        }
    }
    a {
        color: $color-text-white;
        font-size: .9em;
  
    }
    .user {
        margin-left: .5em;
        margin-right: .5em;
        font-size: .8em;
    }
    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-right {
        display: flex;
        align-items: center;
    }
    &-line {
        border-left: 2px solid rgba(97, 97, 97, 0.295); 
        height: 50px; 
        margin-left: .5em;
        margin-right: .5em;
      
    }
}

.bell {
    width: 20px;
    height: 20px;
    &-icon {
        color: #fff;
    }
}