// ======================================
//  Images Partial
// ======================================

img {
    width: 2.2em;
    border-radius: 50%;
}

// SVG

.bell {
    width: 25px;
    height: 25px;
}