// ======================================
//  Settings Partial
// ======================================

.settings {
    &-container {
        width: 300px;
        margin: 0  auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .title {
            align-self: flex-start;
        }
    }
    &-option {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: .8em;
        label {
        }
        p {
            font-size: 1em;
        }
        .switch-ios.switch-light input:checked ~ span a {
            border-color: $color-primary;
        }
        .switch-ios.switch-light input:checked ~ span {
            border-color: $color-primary;
            box-shadow: inset 0 0 0 30px $color-primary;
            &:focus {
            outline: none;
            }
        }
        
    }
    &-timezone {
        height: 40px;
        width:  300px;
        align-self: center;
        margin-top: 1em;
        border: 1px solid rgba(190, 190, 190, 0.685);
        padding-left: .5em;
        padding-right: .5em;
        border-radius: 10px;
        font-size: .8em;
        color: $color-text-light;
        margin-bottom: 1em;
        
        &:focus {
            outline: none;
        }
    }
    &-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button {
            width: 140px;
            height: 40px;
            border: 1px solid $color-border;
            border-radius: 8px;
            margin-top: 1em;
            color: $color-text-white;
            transition: background-color .2s ease-in;
            &:hover {
                background-color: $color-alert-green;
                border: 1px solid $color-alert-green;
            }
        }
        .button-save {
            background-color: $color-primary;
        }
        .button-cancel {
            background-color: $color-text-focus;
        }
    } 
}


